body {
    text-align: center;
    color: lightblue;
    background-color: black;
}

.output {
    border: 3px solid white;
    margin-top: 20px;
    padding: 2em;
    display: none;
}

#hours {
    font-size: x-large;
}